{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_profile/css/profile.css' %}">
{% endblock %}

{% block project_content %}

{% include 'includes/shopping_cart_offcanvas.html' %}

<!-- Modal -->
<div class="modal fade" id="shippingBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="shippingBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-sm-3">
            <form action="{% url 'manage_shipping_addresses' %}" method="POST" id="profile-shipping-details">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="shippingBackdropLabel">Shipping Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-sm-2 g-1 g-sm-2 mb-sm-2">
                        <div class="col">
                            {{ shipping_address_form.delivery_first_name|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ shipping_address_form.delivery_last_name|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ shipping_address_form.delivery_email|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ shipping_address_form.delivery_phone_number|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ shipping_address_form.shipping_town_city|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ shipping_address_form.shipping_county|as_crispy_field }}
                        </div>
                    </div>
                    <div class="mb-sm-2">
                        {{ shipping_address_form.shipping_street_address|as_crispy_field }}
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 g-1 g-sm-2 mb-2">
                        <div class="col">
                            {{ shipping_address_form.shipping_postcode|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ shipping_address_form.shipping_country|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div id="shipping-modal-footer" class="modal-footer d-flex justify-content-around gap-3">
                    <button type="submit"
                        class="btn btn-primary rounded-pill d-lg-flex justify-content-center align-items-center py-2--5">
                        Save Details
                    </button>
                    <button type="button" class="btn btn-secondary rounded-pill py-2--5" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="overlay"></div>
<main class="content-wrapper">
    <div class="container py-5 mt-sm-0">
        <div class="row pt-md-2 pt-lg-3 pb-sm-2 pb-md-3 pb-lg-4 pb-xl-5 gx-5">


            <!-- Sidebar navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
            <aside class="col-lg-3">
                <div class="offcanvas-lg offcanvas-start pe-lg-0 pe-xl-4" id="accountSidebar">

                    <!-- Header -->
                    <div class="offcanvas-header d-lg-block py-3 p-lg-0">
                        <div class="d-flex align-items-center">
                            <div class="h5 d-flex justify-content-center align-items-center flex-shrink-0 text-primary bg-primary-subtle lh-1 rounded-circle mb-0"
                                style="width: 3rem; height: 3rem"><i class="fa-duotone fa-solid fa-file-user"></i></div>
                            <div class="min-w-0 ps-3">
                                <h5 class="h6 mb-1">{{ user.username }}</h5>
                            </div>
                        </div>
                        <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas"
                            data-bs-target="#accountSidebar" aria-label="Close"></button>
                    </div>

                    <!-- Body (Navigation) -->
                    <div class="offcanvas-body d-block pt-2 pt-lg-4 pb-lg-0 aside-offcanvas-body">
                        <nav class="list-group">
                            <a class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center fw-light"
                                href="{% url 'order_history' %}">
                                <i class="fa-duotone fa-solid fa-bags-shopping fs-lg me-2"></i>
                                Orders
                                <span class="badge bg-primary bg-gradient rounded-pill ms-auto">{{ order_count }}</span>
                            </a>
                            <a class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center fw-light"
                                href="#">

                                Wishlist
                            </a>
                            <a class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center fw-light"
                                href="#">

                                Payment methods
                            </a>
                            <a class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center fw-light"
                                href="#">

                                My reviews
                            </a>
                        </nav>
                        <h6 class="pt-4 ps-2 ms-1">Manage account</h6>
                        <nav class="list-group">
                            <a class="list-group-item list-group-item-action d-flex align-items-center list-group-item-light d-flex align-items-center fw-light"
                                href="{% url 'view_profile' %}">
                                <i class="fa-sharp-duotone fa-solid fa-laptop fs-lg me-2"></i>
                                Personal info
                            </a>
                            <a class="list-group-item list-group-item-action d-flex align-items-center list-group-item-light d-flex align-items-center fw-light pe-none active"
                                href="#">
                                <i class="fa-duotone fa-solid fa-address-book fs-xl me-2"></i>
                                Addresses
                            </a>
                            <a class="list-group-item list-group-item-action d-flex align-items-center list-group-item-light d-flex align-items-center fw-light"
                                href="#">

                                Notifications
                            </a>
                        </nav>
                        <h6 class="pt-4 ps-2 ms-1">Customer service</h6>
                        <nav class="list-group list-group-borderless">
                            <a class="list-group-item list-group-item-action d-flex align-items-center list-group-item-light d-flex align-items-center fw-light"
                                href="#">
                                <i class="ci-help-circle fs-base opacity-75 me-2"></i>
                                Help center
                            </a>
                            <a class="list-group-item list-group-item-action d-flex align-items-center list-group-item-light d-flex align-items-center fw-light"
                                href="#">

                                Terms and conditions
                            </a>
                        </nav>
                        <nav class="list-group list-group-borderless pt-3">
                            <a class="list-group-item list-group-item-action d-flex align-items-center list-group-item-light d-flex align-items-center fw-light"
                                href="{% url 'account_logout' %}">
                                <i class="fa-duotone fa-solid fa-arrow-right-from-bracket fs-xl me-2"></i>
                                Log out
                            </a>
                        </nav>
                    </div>
                </div>
            </aside>


            <!-- Personal info content -->
            <div class="col-lg-9 personal-info-column">
                <div class="ps-lg-3 ps-xl-0">

                    <!-- Page title -->
                    <h1 class="h2 mb-1 mb-sm-2">Shipping Addresses</h1>

                    <!-- Review Shipping Addresses -->
                    {% for address in shipping_addresses %}
                    <div class="pt-2 pt-sm-4">
                        <div class="nav flex-nowrap align-items-center justify-content-between pb-1 mb-3">
                            <h2 class="h6 mb-0">Address-{{ forloop.counter }}</h2>
                            <button type="button" class="btn btn-light text-danger fs-sm fw-medium rounded-pill"
                                data-bs-toggle="modal" data-bs-target="#shippingBackdrop" data-address-id="{{ address.id }}">Edit</button>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled fs-sm m-0">
                                    <li id="delivery_name{{ address.id }}">{{ address.delivery_first_name }}
                                        {{ address.delivery_last_name }}</li>
                                    <li id="delivery_phone{{ address.id }}">{{ address.delivery_phone_number }}</li>
                                    <li id="delivery_email{{ address.id }}">{{ address.delivery_email }}</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled fs-sm m-0">
                                    <li id="shipping_address{{ address.id }}">{{ address.shipping_street_address }}</li>
                                    <li id="shipping_town_city{{ address.id }}">{{ address.shipping_town_city }}</li>
                                    <li id="shipping_county{{ address.id }}">{{ address.shipping_county }}</li>
                                    <li id="shipping_postcode{{ address.id }}">{{ address.shipping_postcode }}</li>
                                    <li id="shipping_country{{ address.id }}">{{ address.shipping_country }}</li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block postfooter %}
<!-- Sidebar navigation offcanvas toggle that is visible on screens < 992px wide (lg breakpoint) -->
<button type="button"
    class="fixed-bottom z-sticky w-100 btn btn-lg btn-dark border-0 border-top border-light border-opacity-10 rounded-0 pb-4 d-lg-none"
    data-bs-toggle="offcanvas" data-bs-target="#accountSidebar" aria-controls="accountSidebar" data-bs-theme="light">
    <i class="fa-duotone fa-solid fa-sidebar fs-base me-2"></i>
    Account menu
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- <script>
    $(document).ready(function() {
        // Listen for the modal show event
        $('#shippingBackdrop').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var addressId = button.data('address-id'); // Extract info from data-* attributes
            
            if (addressId) {
                // Fetch the existing data using AJAX
                $.ajax({
                    url: '/get_shipping_address_data/', // URL to fetch data
                    data: {
                        'address_id': addressId
                    },
                    success: function(data) {
                        // Pre-fill the form fields with the data
                        $('#id_field_name').val(data.field_name); // Repeat for each field
                        // Update the form action for editing
                        $('#profile-shipping-details').attr('action', "{% url 'edit_shipping_address' 0 %}".replace('0', addressId));
                    }
                });
            } else {
                // Reset form for adding a new address
                $('#profile-shipping-details')[0].reset();
                $('#profile-shipping-details').attr('action', "{% url 'add_shipping_addresses' %}");
            }
        });
    });
</script> -->
{% endblock %}