{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}


{% block project_content %}

{% include 'includes/shopping_cart_offcanvas.html' %}



<!-- Page content -->
<main class="content-wrapper">
    <div class="container pt-2 pb-4">
        <div class="row pt-1 pt-sm-3 pt-lg-4 pb-2 pb-md-3 pb-lg-4 pb-xl-5">
            <div class="col-lg-8 col-xl-7 mb-5 mb-lg-0">
                <div class="w-100 ps-3 ps-md-4">
                    <h1 class="h5 mb-md-4">Basic Info</h1>
                    <form id="basic_info_form" method="post" action="{% url 'update_basic_info' %}">
                        {% csrf_token %}
                        <div>{{ form_basic.profile_title|as_crispy_field }}</div>
                        <div>{{ form_basic.first_name|as_crispy_field }}</div>
                        <div>{{ form_basic.last_name|as_crispy_field }}</div>
                        <div>{{ form_basic.profile_date_of_birth|as_crispy_field }}</div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="w-100 ps-3 ps-md-4">
                    <h1 class="h5 mb-md-4">Contacts</h1>
                    <form id="user_contact_form" method="post" action="{% url 'update_contact' %}">
                        {% csrf_token %}
                        <div>{{ form_contact.email|as_crispy_field }}</div>
                        <div>{{ form_contact.profile_phone_number|as_crispy_field }}</div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-xl-5">
                <div class="w-100 ps-3 ps-md-4">
                    <h1 class="h5 mb-md-4">Basic Info</h1>
                    <div class="d-flex flex-column align-items-center">
                        <div>
                            <p id="title_name">{{ title_readable }} {{ user.first_name }} {{ user.last_name }}</p>
                            <p id="date_of_birth">{{ user_profile.profile_date_of_birth }}</p>
                            <p id="email_profile">{{ user.email }}</p>
                            <p id="phone_profile">{{ user_profile.profile_phone_number }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const formBasic = document.querySelector('#basic_info_form');
        const formContact = document.querySelector('#user_contact_form');

        // User Basic Info Form submission
        formBasic.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(formBasic);

            fetch(formBasic.action, {
                method: 'POST',
                body: formData,
                headers: { 'X-CSRFToken': formBasic.querySelector('[name=csrfmiddlewaretoken]').value }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Update the DOM with the new data
                        const titleNameElement = document.querySelector('#title_name');
                        const dateOfBirthElement = document.querySelector('#date_of_birth');

                        // Check if the title is "Prefer not to use" and set it to an empty string if so
                        const title = data.updatedBasic.title === 'Prefer not to use' ? '' : data.updatedBasic.title;

                        // Construct the new title name
                        const newTitleName = `${title} ${data.updatedBasic.first_name} ${data.updatedBasic.last_name}`;
                        titleNameElement.textContent = newTitleName;

                        // Update the date of birth:

                        const dateOfBirthString = data.updatedBasic.date_of_birth;
                        // Parse the date string into a Date object
                        const dateOfBirth = new Date(dateOfBirthString);
                        // Format the date using Intl.DateTimeFormat
                        const options = { year: 'numeric', month: 'short', day: 'numeric' };
                        let formattedDate = new Intl.DateTimeFormat('en-US', options).format(dateOfBirth);
                        // Insert dot (`.`) after the short for a month
                        formattedDate = formattedDate.replace(/(\w{3}) /, '$1. ');

                        dateOfBirthElement.textContent = formattedDate;

                    } else {
                        console.log('Form submission failed:', data.errors || data.message);
                    }
                })
                .catch(error => console.log('Error:', error));
        });

        // Contact form submission
        formContact.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(formContact);

            fetch(formContact.action, {
                method: 'POST',
                body: formData,
                headers: { 'X-CSRFToken': formContact.querySelector('[name=csrfmiddlewaretoken]').value }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log(data);
                        const emailElement = document.querySelector('#email_profile');
                        console.log(emailElement);

                        const phoneElement = document.querySelector('#phone_profile');

                        // Update the email and phone number on the page
                        emailElement.textContent = data.updatedContact.email;
                        phoneElement.textContent = data.updatedContact.phone_number;

                    } else {
                        console.log('Form submission failed:', data.errors || data.message);
                    }
                })
                .catch(error => console.log('Error:', error));
        });
    });
</script>
{% endblock %}