<script>
    $(document).ready(function () {
        // Listen for clicks on the decrease button
        $('#decrease_qtty').on('click', function () {
            let quantityInput = $('#display_qtty');
            let currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity > 1) {
                quantityInput.val(currentQuantity - 1);
            }
        });

        // Listen for clicks on the increase button
        $('#increase_qtty').on('click', function () {
            let quantityInput = $('#display_qtty');
            let currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity < 29) {
                quantityInput.val(currentQuantity + 1);
            }
        });

        // Listen for clicks on the 'Add to Cart' button
        $('#add_to_cart_submit').on('click', function () {
            let productId = $(this).val();

            let quantity = $('#display_qtty').val();

            $.ajax({
                type: 'POST',
                url: '/cart/add/',
                data: {
                    'product_id': productId,
                    'quantity': quantity,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (json) {
                    // Update the cart details in the navbar and offcanvas 
                    window.location.reload();
                },
                error: function (xhr, errmsg, err) {
                    // const errorMessage = 'Failed to add to the cart. Try again later.';
                    // sessionStorage.setItem('toastMessage', errorMessage);
                    // sessionStorage.setItem('toastType', 'danger');
                    // alert('Failed to add product to cart.');

                    window.location.reload();
                }
            });
        });
    });
</script>