{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block project_content %}

{% include 'includes/shopping_cart_offcanvas.html' %}
<!-- This is the intermediary page before the user is redirected to -->
<!-- the order confirmation page. It is a page pointed in the return_url  -->
<!-- parameter of the Stripe payment intent before order can be created -->

<!-- Spinner to engage user while Stripe is processing payment -->
<div id="loading-overlay">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div id="loading-spinner" class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<main class="content-wrapper d-flex flex-column justify-content-center align-items-center">
    <div class="container pt-2 pb-4">
        <h1 id="loading-message" class="text-center text-danger"></h1>
    </div>
</main>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>

    // This script checks the status of the order every 5 seconds
    // until the order is found or the maximum number of attempts is reached.
    // The order is being tracked using the PID passed from Django.
    // When it is found, the user is redirected to the order confirmation page.
    $('#loading-overlay').fadeToggle(100);
    // Maximum number of attempts to check order status
    const maxAttempts = 5;
    let attemptCount = 0;

    function checkOrderStatus() {
        const pid = '{{ pid }}'; // the PID passed from Django

        fetch(`/checkout/order_pending/${pid}/status/`)
            .then(response => response.json())
            .then(data => {
                if (data.order_exists) {
                    // Redirect to the order confirmation page
                    window.location.href = `/checkout/confirmation/${data.order_number}/`;
                } else {
                    attemptCount++;
                    if (attemptCount < maxAttempts) {
                        setTimeout(checkOrderStatus, 5000); // Retry after 5 seconds
                    } else {
                        // If order is not found after max attempts, show an error message
                        document.getElementById('loading-message').innerText =
                            "We're having trouble confirming your order. Please contact support or your payment provider.";

                        $('#loading-overlay').fadeToggle(100);
                    }
                }
            })
            .catch(error => {
                console.error('Error fetching order status:', error);
                // Handle fetch error, possibly show an error message to the user
                document.getElementById('loading-message').innerText =
                    "An error occurred while checking your order status. Please try again later.";
            });
    }

    // Start checking the order status after an initial delay
    setTimeout(checkOrderStatus, 2000); // Start after 2 seconds
</script>


{% endblock postloadjs %}