*,
:after,
:before {
    box-sizing: border-box;
}

/* Global variables */
:root {
    --bg-gray: #fafaf4;
    --bg-white: #ffffff;
}

/* Custom utility classes */
.min-vh-70 {
    min-height: 70vh !important;
}

.py-2--5 {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
}

.fs-xs {
    font-size: 0.75rem !important;
}

.fs-sm {
    font-size: 0.875rem !important;
}

.fs-base {
    font-size: 1rem !important;
}

.fs-lg {
    font-size: 1.125rem !important;
}

.fs-xl {
    font-size: 1.25rem !important;
}

.fs-2xl {
    font-size: 1.5rem !important;
}

.fs-4xl {
    font-size: 2.25rem !important;
}

.ls-tighter {
    letter-spacing: -0.05em !important;
}

.ls-tight {
    letter-spacing: -0.025em !important;
}

.ls-normal {
    letter-spacing: 0em !important;
}

.ls-wide {
    letter-spacing: 0.025em !important;
}

.ls-wider {
    letter-spacing: 0.05em !important;
}

.ls-widest {
    letter-spacing: 0.1em !important;
}

.text-black-button {
    color: #000000 !important;
}

.text-black-button:hover {
    color: white !important;
}

me-n1 {
    margin-right: -0.25rem !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.843);
}

select:hover {
    cursor: pointer;
    background-color: rgba(255, 228, 196, 0.522) !important;
}

.btn-primary {
    background-color: #f55266;
    border-color: #f55266;
    color: white;
}

.btn-primary:hover {
    background-color: #f2223b;
    border-color: #f2223b;
    color: white;
}

.bg-body-tertiary {
    background-color: rgb(245, 247, 250) !important;
}

.btn-secondary {
    background-color: #6c757da9 !important;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

.truncate {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide the overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

.accordion-button,
.accordion-item {
    background-color: transparent !important;
}

.nav-link {
    background: none;
    border: 0;
    color: #333d4c;
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}


/* Body */
html {
    scroll-behavior: smooth;
}
html,
body {
    position: relative;
}

body {
    background-color: var(--bg-gray);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none !important;
}

a:not(.btn):hover,
a:not(.btn):focus {
    color: #f55266 !important;
    text-decoration: underline;
}

#header-search-dropdown {
    min-width: 300px;
}

.custom-dropdown-menu {
    width: auto;
}

.custom-dropdown-item {
    width: 100%;
    white-space: nowrap;
}

.content-wrapper {
    flex: 1;
}

.content-wrapper-shop {
    flex: 1;
    margin-top: 20px;
}

.footer {
    flex-shrink: 0;
}

.top-bar {
    background-color: transparent;
}

.principal-logo {
    max-width: 70px;
}

#navbarLogo {
    font-family: "Clicker Script", cursive;
    font-size: 1.2rem;
}

swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    aspect-ratio: 3 / 4;
}

swiper-slide img {
    display: block;
    width: 100%;
}

.caption {
    display: none;
    /* Hide all captions initially */
    margin-top: 20px;
    /* Adjust as needed */
}


/* Catalog page */


/* Shopping cart summary page */
.cart-product-detail {
    width: 20ch !important;
}

.count-input-cart {
    .count-input {
        background-color: #fff;
        border: 1px solid #cad0d9;
        border-radius: 0.5rem;
        display: inline-flex;
        overflow: hidden;
        transform: translateZ(0);
    }

    .count-input button:hover,
    .count-input button:active
    .count-input button:focus {
        background-color: rgb(227, 229, 235) !important;;
    }

    .btn {
        border: 0;
        border-radius: 0;
    }
    .btn-icon {
        flex-shrink: 0;
        height: 2.5rem;
        padding: 0;
        width: 2.5rem;
    }
    .form-control {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        font-weight: 500;
        padding: 0 .25rem;
        text-align: center;
        width: 2.5rem;
    }
}


/* Media queries */
@media (min-width: 576px) {

    #navbarLogo {
        font-size: 2rem;
    }

    #header-search-dropdown {
        min-width: 500px;
    }

    swiper-container {
        width: 85%;
    }
}

@media (min-width: 1800px) {
    .content-wrapper {
        margin-top: -110px;
        padding-top: 50px;
    }

    swiper-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    swiper-slide {
        background-position: center;
        background-size: cover;
        width: 390px;
        aspect-ratio: 3 / 4;
    }

    .cart-product-detail {
        width: 25ch !important;
    }
}