*,
:after,
:before {
    box-sizing: border-box;
}

/* Global variables */
:root {
    --bg-gray: #fafaf4;
    --bg-white: #ffffff;
}

/* Custom utility classes */
.fs-xs {
    font-size: 0.75rem !important;
}

.fs-sm {
    font-size: 0.875rem !important;
}

.ls-tighter {
    letter-spacing: -0.05em !important;
}

.ls-tight {
    letter-spacing: -0.025em !important;
}

.ls-normal {
    letter-spacing: 0em !important;
}

.ls-wide {
    letter-spacing: 0.025em !important;
}

.ls-wider {
    letter-spacing: 0.05em !important;
}

.ls-widest {
    letter-spacing: 0.1em !important;
}

/* Body */
body {
    background-color: var(--bg-gray);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.top-bar {
    background-color: transparent;
}

.principal-logo {
    max-width: 70px;
}

#header-search-dropdown {
    min-width: 30rem;
}

#navbarLogo {
    font-family: "Clicker Script", cursive;
    font-size: 2rem;
}