/* Remove arrow from select element */
#sorting-select {
    width: 40%;
    overflow: hidden;
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* Standard */
}

/* Remove caret from dropdown toggle button */
.dropdown-toggle::after {
    display: none !important;
}

#sorting-select option {
    background-color: white !important;
    color: black;
}

.block-btn-scroll {
    transform: translateX(50%) rotate(-90deg);
    z-index: 1020;
    margin-bottom: 100px;
}

.floating-buttons {
    width: 85px;
}

.btn-scroll {
    background-color: rgba(250, 235, 215, 0.346);
    font-size: .625rem;
    opacity: 0;
    position: relative;
    text-transform: uppercase;
    transform: scale(0);
    transition: transform 0.5s ease-in-out 0.2s, opacity 0.5s 0.2s, visibility 0.5s 0.2s;
    visibility: hidden;
}

.btn-scroll.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.btn-scroll.white-text {
    color: white;
}

.btn-scroll p {
    margin: 0;
}


@media screen and (min-width: 576px) {
    #sorting-select {
        width: auto;
    }

}