<script>
    $(document).ready(function () {

        // Update progress bar for free shipping threshold
        function updateProgressBar(newPercentage) {
            const progressBar = document.querySelector('.progress-bar');
            if (newPercentage < 100) {
                progressBar.style.width = newPercentage + '%';
            }
        }

        updateProgressBar('{{ percent_of_threshold }}');


        // Update quantity when user changes input

        // Decrement quantity
        $('.cart-btn-decrement').on('click', function () {
            var $input = $(this).siblings('.cart-qty-input');
            var currentQuantity = parseInt($input.val());
            var productId = $(this).closest('.count-input').data('product-id');

            if (currentQuantity > 1) {
                var previousQuantity = currentQuantity; // Store previous quantity
                $input.val(currentQuantity - 1);
                updateCart(productId, $input.val(), previousQuantity, $input);
            }
        });

        // Increment quantity
        $('.cart-btn-increment').on('click', function () {
            var $input = $(this).siblings('.cart-qty-input');
            var currentQuantity = parseInt($input.val());
            var productId = $(this).closest('.count-input').data('product-id');

            var previousQuantity = currentQuantity; // Store previous quantity
            $input.val(currentQuantity + 1);
            updateCart(productId, $input.val(), previousQuantity, $input);
        });

        // Function to send AJAX request
        function updateCart(productId, newQuantity, previousQuantity, $input) {
            $.ajax({
                url: '/cart/update/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}', // Ensure CSRF token is included
                    'product_id': productId,
                    'quantity': newQuantity
                },

                success: function (response) {
                    // Handle success (e.g., update cart total, display message)
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error('Error updating cart:', error);
                    $input.val(previousQuantity);
                    window.location.reload();
                    
                }
            });
        }
    });
</script>