<!-- Shopping cart offcanvas (Empty state) -->

{% if cart_status %}
<div class="offcanvas offcanvas-end pb-sm-2 px-sm-2" id="shoppingCart" tabindex="-1" aria-labelledby="shoppingCartLabel"
    style="width: 500px">
    <div class="offcanvas-header py-3 pt-lg-4">
        <h4 class="offcanvas-title" id="shoppingCartLabel">Shopping cart</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-center">
        <i class="fa-light fa-cart-shopping-fast display-1 mt-5"></i>
        <h6 class="mt-5 mb-2">Your shopping cart is currently empty!</h6>
        <p class="fs-sm mb-4">Explore our wide range of products and add items to your cart to proceed with your
            purchase.</p>
        <a class="btn btn-dark rounded-pill" href="#">Continue shopping</a>
    </div>
</div>
{% else %}

<!-- Shopping cart offcanvas (Filled state) -->
<div class="offcanvas offcanvas-end pb-sm-2 px-sm-2" id="shoppingCart" tabindex="-1" aria-labelledby="shoppingCartLabel"
    style="width: 500px">
    <div class="offcanvas-header py-3 pt-lg-4">
        <h4 class="offcanvas-title" id="shoppingCartLabel">Shopping cart</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-center">
        <ul>
            {% for product in cart_products %}
                <li>{{ product.name }} - Quantity:
                    {% for key,value in items_quantities.items %} 
                        {% if key == product.id|slugify %}
                            {{ value }}
                        {% endif %}
                    {% endfor %}
                    Price: £{{ product.price }}
                </li>
            {% endfor %}
        </ul>
        <div class="d-flex w-100 gap-3 mt-5">
            <a class="btn btn-lg btn-secondary rounded-pill w-100 fs-base fw-light" href="#">View cart</a>
            <a class="btn btn-lg btn-primary rounded-pill w-100 fs-base fw-light" href="#">Checkout</a>
        </div>
        <p class="fs-sm my-4">Explore our wide range of products and add items to your cart to proceed with your
            purchase.</p>
    </div>
</div>
{% endif %}
