{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'information/css/information.css' %}">
{% endblock %}

{% block project_content %}

{% include 'includes/shopping_cart_offcanvas.html' %}

<div class="information-banner position-fixed top-0 start-0 w-100">
    <img class="img-fluid" src="{{ MEDIA_URL }}benefits_background_allauth.jpg" alt="Goodwill banner flying porcelain">
    <h1 class="display-4 text-center mt-4 mt-md-0">About Us</h1>
</div>
<!-- Page content -->
<main class="content-wrapper-info container px-3 pt-0">
    <!-- Hero Banner -->
    <div class="row gx-5 mt-md-2 mb-4 gy-5">
        <div class="col-md-4 ps-lg-5">
            <div>
                <img class="card-img-top img-fluid"
                    style="aspect-ratio: 4 / 5; object-fit: cover; object-position: top;"
                    src="{{ MEDIA_URL }}Goodwill_M&G_96.jpg" alt="Goodwill wooden corner">
            </div>
        </div>
        <div class="col-md-8 px-4 px-lg-5">
            <p><strong>Welcome to Carol's Whimsy!</strong> We are a dedicated online retailer of exquisite 
                <strong>Christmas decorations and gifts</strong>, proudly partnering with unique and astound designers of Goodwill, Belgium.
                Our mission is to bring the festive spirit to homes across <strong>the UK</strong> with high-quality,
                unique decorations that add a touch of magic to your holiday celebrations.</p>
                
            <h5>Our Story</h5>
            <p>Our journey began with a passion for transforming spaces into festive wonderlands. Inspired by
                the rich tradition and craftsmanship of Goodwill, we set out to make their beautiful
                creations accessible to customers in <strong>the UK</strong>. Our commitment is to offer a curated selection of
                decorations that blend traditional charm with contemporary elegance.</p>
            <h5>Our Products</h5>
            <p>At Carol's Whimsy, we offer a wide selection of <em>holiday decorations and gifts</em> from the
                world's top designers, such as <strong>Goodwill</strong>, <strong>Katherine's Collection</strong> and <strong>Mark Roberts</strong>. 
                Our collection includes <strong>Christmas</strong> <em>ornaments</em>, <em>tree toppers</em>, <em>garlands</em>, <em>wreaths</em>, even <em>trees</em> and more.
                We also carry a variety of <em>seasonal decor</em> for <strong>Halloween</strong>, <strong>Easter</strong> such as <em>easter eggs</em> and other <em>easter gifts</em>, 
                Halloween <em>decorations</em> for both adults and kids.
                Shop now and make your home merry and bright!</p>
                
        </div>
        <div class="col-md-6 px-4 px-lg-5">
            <h5>Our Values</h5>
            <ul>
                <li>Quality: We are committed to offering products that meet the highest standards of craftsmanship
                    and durability.</li>
                <li>Customer Satisfaction: Your happiness is our priority. We strive to provide a seamless shopping
                    experience and exceptional customer support.</li>
                <li>Sustainability: We are conscious of our environmental impact and aim to offer eco-friendly
                    options whenever possible.</li>
            </ul>
        </div>
        <div class="col-md-6 px-4 px-lg-5">
            <h5>Who We Serve</h5>
            <p>Our customers are at the heart of everything we do. We cater to individuals and families who
                cherish the holiday season and seek to enhance their celebrations with unique and high-quality
                decorations highly valued in traditional <strong>UK</strong> homes. Whether you're looking for a statement piece or subtle accents, 
                we have some fancy ideas for everyone.</p>
                
            <h5>Meet Our Team</h5>
            <p>Our team is a group of passionate individuals who share a love for the holiday season and a
                commitment to excellence. From our customer service representatives to our logistics experts,
                each team member plays a vital role in ensuring your experience with us is nothing short of
                magical.</p>
        </div>
    </div>
</main>


{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}