aside * {
    border: none !important;
    border-radius: 0 !important;
}

.list-group-item:hover {
    text-decoration: none !important;
}

.list-group-item.active {
    background-color: rgba(128, 128, 128, 0.638);
    font-weight: 400 !important;
}

#id_new_password1_helptext {
    display: none;
}

#password_form {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;
    }
}

.personal-info-column {
    .form-label {
        font-weight: 400;
        font-size: 14.88px;
        padding-left: 6px;
    }

    .form-control {
        font-weight: 300;
        border: none;
        border-radius: 12px;
        background-color: #f1f1f1 !important;
        font-size: 16px;
        padding: 16px;
    }

    .form-control::placeholder {
        color: #cad0d9;
        font-size: 1rem;
        font-weight: 300;
    }
}

#shipping-modal-footer button {
    padding: 0.5rem 2rem;
    width: 160px;
}

.modal-dialog {
    max-width: 800px !important;
}

#profile-shipping-details {
    .form-label.requiredField > span {
        color: #f55266;
        font-weight: bold;
        padding-left: 6px;
    }
    .form-label {
        font-weight: 400;
        font-size: 14.88px;
        padding-left: 6px;
    }
    .form-control {
        font-weight: 300;
        border: none;
        border-radius: 12px;
        background-color: #f1f1f1 !important;
        font-size: 16px;
        padding: 16px;
    }
    .form-control::placeholder {
        color: #cad0d9;
        font-size: 1rem;
        font-weight: 300;
    }
}