{% extends "base.html" %}
{% load static %}


{% block content %}

{% include 'includes/shopping_cart_offcanvas.html' %}


<!-- Shop filters offcanvas -->
<div class="offcanvas offcanvas-end pb-sm-2 px-sm-2" id="shopFilters" tabindex="-1" aria-labelledby="shopFiltersLabel">

    <!-- Header -->
    <div class="offcanvas-header py-3">
        <h5 class="offcanvas-title" id="shopFiltersLabel">Filter and sort</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- Body -->
    <div class="offcanvas-body pt-0">

        <!-- Filters -->

        <div class="position-relative dropup mt-3">
            <select class="form-select fw-medium py-3 position-absolute top-50" id="sorting-select"
                aria-label="Sorting">
                <option value="" selected>Sort by</option>
                <option value="new">New arrivals</option>
                <option value="price-asc">Price ascending</option>
                <option value="price-desc">Price descending</option>
            </select>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="overlay"></div>
<main class="content-wrapper-shop">
    <div class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">

        <!-- Breadcrumb -->
        <nav class="position-relative pt-3 my-3 my-md-4" aria-label="breadcrumb" style="z-index: 1021">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shop Catalog</li>
            </ol>
        </nav>

        <!-- Page title -->
        <h1 class="h3 position-relative pb-sm-2 pb-md-3" style="z-index: 10">Carol's catalog</h1>

        <!-- All filters offcanvas toggle -->
        <nav class="nav">
            <a class="nav-link animate-underline px-2" href="#shopFilters" data-bs-toggle="offcanvas"
                aria-controls="shopFilters">
                <i class="ci-filter me-1"></i>
                <span class="animate-target text-nowrap">All filters</span>
            </a>
        </nav>

        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 gy-5" id="productGrid">
            {% for product in products %}
            <!-- Item -->
            <div class="col">
                <div class="card h-100 border-0">
                    {% if product.image %}
                    <a href="#">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="#">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}gw_present24.jpg" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</main>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Page specific scripts -->

{% endblock %}