{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/catalog.css' %}">
{% endblock %}

{% block extra_title %} Catalog{% endblock %}


{% block project_content %}

{% include 'includes/shopping_cart_offcanvas.html' %}


<!-- Page content -->
<div class="overlay"></div>
<main class="content-wrapper-shop">
    <div class="container-xxl pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">

        <!-- Breadcrumb -->
        <nav class="position-relative pt-3 my-3 my-md-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-dark" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>

        <!-- Page title -->
        <div
            class="d-flex justify-content-end justify-content-sm-between align-items-center position-relative pb-sm-2 pb-md-3">
            <h1 class="h3 d-none d-sm-block">Carol's catalog</h1>
            <div class="px-2"><span class="h6">{{ products_count }}</span> <span class="text-muted">Product items
                    found</span></div>
        </div>
        <nav class="d-flex justify-content-between py-3 align-items-baseline mb-3">
            <select id="sorting-select" class="sorting-select btn btn-large ms-2 p-3 border rounded-pill"
                aria-label="Sort products select">
                <option value="reset" {% if sortkey == None %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if sortkey == 'price_asc' %}selected{% endif %}>Price (low to high)
                </option>
                <option value="price_desc" {% if sortkey == 'price_desc' %}selected{% endif %}>Price (high to low)
                </option>
            </select>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle fs-sm btn btn-large ms-2 p-3 border rounded-pill" href="#" role="button" data-bs-toggle="dropdown"
                                data-bs-trigger="hover" data-bs-auto-close="outside" aria-expanded="false">Filter by:</a>
                <ul class="dropdown-menu mt-3 custom-dropdown-menu">
                    {% for value, text in preorder_status_choices %}
                    <li class="dropdown-item">{{ text }}</li>
                    {% endfor %}
                    <li class="dropdown-item">All</li>
                </ul>
            </div>
            <a class="px-2 link-secondary" href="{% url 'catalog' %}" aria-label="Clear all filters">
                <i class="fa-regular fa-filter-circle-xmark d-none d-sm-inline"></i>
                <span class="text-nowrap">Clear All</span>
            </a>
        </nav>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4  gx-3 gy-4 mx-3 mx-sm-0" id="productGrid">
            {% for product in products %}
            <!-- Item -->
            <div class="col rounded">
                <div class="card position-relative">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid"
                            style="aspect-ratio: 1 / 1; object-fit: cover; object-position: top; "
                            src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid"
                            style="aspect-ratio: 1 / 1; object-fit: cover; object-position: top;"
                            src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body pb-0 d-flex align-items-end">
                        <p class="mb-0 text-truncate">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left ms-3 mt-2">
                        <div class="row">
                            <div class="col">
                                {% if product.discount %}
                                <p class="lead mb-0 text-left font-weight-bold"><span
                                        class="small text-decoration-line-through text-warning">£{{ product.price }}</span><span
                                        class="ps-2">£{{ product.get_discounted_price }}</span></p>
                                {% else %}
                                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                {% endif %}
                                {% if product.brand %}
                                <p class="small mt-1 mb-0 text-truncate">
                                    <a class="text-muted"
                                        href="{% url 'catalog' %}?brand_query={{ product.brand.name }}">
                                        <i class="fa-solid fa-copyright"></i>&nbsp;{{ product.brand.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.category %}
                                <p class="small mt-1 mb-0 text-truncate">
                                    <a class="text-muted"
                                        href="{% url 'catalog' %}?category_query={{ product.category.name }}">
                                        <i class="fas fa-tag mr-1"></i>&nbsp;{{ product.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.theme %}
                                <p class="small mt-1 mb-0 text-truncate">
                                    <a class="text-muted"
                                        href="{% url 'catalog' %}?theme_query={{ product.theme.name }}">
                                        <i
                                            class="fa-sharp fa-solid fa-tree-christmas"></i>&nbsp;{{ product.theme.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                <p class="mt-2 {% if product.preorder_status == 1 %}text-danger{% elif product.preorder_status == 2 %}text-success{% else %}text-info{% endif %}">
                                    <!-- <small class="text-muted">
                                        <i class="fa-solid fa-star-sharp"></i>
                                        <i class="fa-solid fa-star-sharp"></i>
                                        <i class="fa-solid fa-star-sharp"></i>
                                        <i class="fa-regular fa-star-half-stroke"></i>
                                        <i class="fa-regular fa-star-sharp"></i>
                                    </small> -->
                                    {{ product.get_preorder_status_display }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if product.discount %}
                    <span class="position-absolute top-0 start-0 translate-middle">
                        <i class="fa-duotone fa-solid fa-badge-percent fs-2xl text-danger"></i>
                    </span>
                    {% endif %}
                </div>
                {% if user.is_staff %}
                <div class="d-flex justify-content-around mt-3">
                    <a class="btn btn-secondary" href="{% url 'edit_product' product.id %}">Edit Product</a>
                    <a class="btn btn-outline-secondary" href="{% url 'delete_product' product.id %}">Remove</a>
                </div>
                {% else %}
                <form method="POST" action="{% url 'cart_add' %}" class="text-center">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit"
                        class="btn btn-outline-secondary fs-base rounded-pill px-3 px-sm-4 my-3 mx-4 mx-sm-5">
                        Add to cart
                    </button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </div>

</main>

{% endblock %}

{% block postfooter %}
<!-- Back to top button -->
<div class="block-btn-scroll d-flex gap-3 position-fixed bottom-0 end-0 me-3 me-xl-4 pb-2">
    <div class="floating-buttons">
        <a class="btn-scroll btn btn-sm rounded-pill border shadow-lg d-flex gap-2 align-items-center justify-content-center"
            href="#bottom">
            <p><i class="fa-duotone fa-solid fa-arrow-left fs-base ms-1 me-n1"></i></p>
            <p class="pe-2">Down</p>
        </a>
    </div>
    <div class="floating-buttons">
        <a class="btn-scroll btn btn-sm rounded-pill border shadow-lg d-flex gap-2 align-items-center justify-content-center"
            href="#top">
            <p class="ps-2">Top</p>
            <p><i class="fa-duotone fa-solid fa-arrow-right fs-base ms-1 me-n1"></i></p>
        </a>
    </div>
</div>
<div id="bottom"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Page specific scripts -->
<script src="{% static 'products/js/sorting_select.js' %}"></script>
<script src="{% static 'products/js/top_down.js' %}"></script>
{% endblock %}