{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block content %}

{% include 'includes/shopping_cart_offcanvas.html' %}


<!-- Page content -->
<div class="overlay"></div>
<main class="content-wrapper-shop">
    <div class="container-xxl pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">

        <!-- Breadcrumb -->
        <nav class="position-relative pt-3 my-3 my-md-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-dark" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="link-dark" href="{% url 'catalog' %}">Products</a></li>
                <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">{{ product.name }}</li>
            </ol>
        </nav>

        <!-- Product details -->
        <div class="row gx-5 mt-5">
            <div class="col-md-6 ">
                <div>
                    <img class="border rounded-3 card-img-top img-fluid" src="{{ product.image.url }}"
                        alt="Product image">
                </div>
            </div>
            <div class="col-md-6 px-4">
                <div class="product-details">
                    <!-- Reviews -->
                    <a class="d-none d-md-flex align-items-center gap-2 text-decoration-none mb-3" href="#reviews">
                        <div class="d-flex gap-1 fs-sm">
                            <i class="fa-solid fa-star-sharp text-warning"></i>
                            <i class="fa-solid fa-star-sharp text-warning"></i>
                            <i class="fa-solid fa-star-sharp text-warning"></i>
                            <i class="fa-regular fa-star-half-stroke text-warning"></i>
                            <i class="fa-regular fa-star-sharp text-body-tertiary opacity-75"></i>
                        </div>
                        <span class="text-body-tertiary fs-sm">23 reviews</span>
                    </a>

                    <h2 class="product-title display-6 mt-4 mt-md-0">{{ product.name }}</h2>
                    <div class="product-price mt-1">
                        <span class="blockquote-footer">{{ product.sku }}</span>
                        <span class="blockquote-footer">(product.id {{ product.id }})</span>
                    </div>
                    <div class="product-price mt-4">
                        <span class="fs-xl ms-4">£{{ product.price }}</span>
                    </div>
                    {% if product.promo_text|nan_to_empty %}
                    <p class="product-description mt-3 text-muted ms-4">{{ product.promo_text }}</p>
                    {% endif %}
                    {% if product.size|nan_to_empty %}
                    <p class="mt-3 text-muted ms-4">Size: {{ product.size }}</p>
                    {% endif %}
                    {% if product.material|nan_to_empty %}
                    <p class="mt-3 text-muted ms-4">Material: {{ product.material }}</p>
                    {% endif %}
                    {% if product.color|nan_to_empty %}
                    <p class="mt-3 text-muted ms-4">Color: {{ product.color }}</p>
                    {% endif %}
                    {% if product.other_details|nan_to_empty %}
                    <p class="mt-3 text-muted ms-4 fs-xs">{{ product.other_details }}</p>
                    {% endif %}
                    <br>
                    <hr>
                    <!-- Count input + Add to cart button -->
                    <div class="count-input-cart d-flex gap-3 gap-sm-4 mt-5">
                        <button type="button" value="{{ product.id }}"
                            class="btn btn-lg btn-dark fs-lg fw-light rounded-pill px-4 px-sm-5"
                            id="add_to_cart_submit">Add to cart</button>
                        <div class="count-input">
                            <button id="decrease_qtty" type="button" class="btn btn-icon"
                                aria-label="Decrement quantity">
                                <i class="fa-regular fa-minus"></i>
                            </button>
                            <input id="display_qtty" type="number" class="form-control text-center" value="1" max="29"
                                readonly>
                            <button id="increase_qtty" type="button" class="btn btn-icon"
                                aria-label="Increment quantity">
                                <i class="fa-regular fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="nav position-relative z-2 my-4 mb-lg-0">
                        <a class="nav-link animate-underline px-0" href="{% url 'catalog' %}">
                            <i class="fa-duotone fa-solid fa-chevrons-left fs-lg me-1"></i>
                            <span class="fs-sm">Continue shopping</span>
                        </a>
                    </div>
                    <br><br>
                </div>
            </div>

        </div>
    </div>
</main>


{% endblock %}

{% block postloadjs %}¸
{{ block.super }}
<!-- Page specific scripts -->
<script>
    $(document).ready(function () {
        // Listen for clicks on the decrease button
        $('#decrease_qtty').on('click', function () {
            let quantityInput = $('#display_qtty');
            let currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity > 1) {
                quantityInput.val(currentQuantity - 1);
            }
        });

        // Listen for clicks on the increase button
        $('#increase_qtty').on('click', function () {
            let quantityInput = $('#display_qtty');
            let currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity < 29) {
                quantityInput.val(currentQuantity + 1);
            }
        });

        // Listen for clicks on the 'Add to Cart' button
        $('#add_to_cart_submit').on('click', function () {
            let productId = $(this).val();

            let quantity = $('#display_qtty').val();

            $.ajax({
                type: 'POST',
                url: '/cart/add/',
                data: {
                    'product_id': productId,
                    'quantity': quantity,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (json) {
                    window.location.reload();
                },
                error: function (xhr, errmsg, err) {
                    alert('Failed to add product to cart.');
                }
            });
        });
    });
</script>

{% endblock %}