{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Page content -->
    <main class="content-wrapper">
        <!-- Hero slider -->
        <section class="min-vh-100 d-flex align-items-center overflow-hidden">
            <div class="container h-100 py-xxl-5 my-md-2 my-lg-3 my-xl-4 mb-xxl-5">
                <h1 id="home-h1-heading" class="display-5 d-none d-sm-block text-center mx-auto mb-1 mb-sm-2 mb-md-3 mb-lg-4"
                    style="max-width: 680px; color: #86714D; text-shadow: 1px 1px 2px rgba(128, 0, 0, 0.86)">Everything
                    You Need for
                    Celebrations</h1>
                <div class="mx-auto gx-3 gx-sm-4 mb-3 mb-sm-4">
                    <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true"
                        centered-slides="true" slides-per-view="auto" coverflow-effect-rotate="30"
                        coverflow-effect-stretch="0" coverflow-effect-depth="100" coverflow-effect-modifier="1"
                        coverflow-effect-slide-shadows="true" loop="true">
                        <swiper-slide>
                            <img src="{{ MEDIA_URL }}gw_present24.jpg" />
                        </swiper-slide>
                        <swiper-slide>
                            <img src="{{ MEDIA_URL }}kc_present24.jpg" />
                        </swiper-slide>
                        <swiper-slide>
                            <img src="{{ MEDIA_URL }}mr_present24.jpg" />
                        </swiper-slide>
                        <swiper-slide>
                            <img src="{{ MEDIA_URL }}hbg_24.jpg" />
                        </swiper-slide>
                        <swiper-slide>
                            <img src="{{ MEDIA_URL }}kc_halloween.jpg" />
                        </swiper-slide>
                        <swiper-slide>
                            <img src="{{ MEDIA_URL }}gw_aqua_botanica.jpg" />
                        </swiper-slide>
                    </swiper-container>

                    <!-- Caption blocks -->
                    <div id="captions">
                        <div class="caption text-center" data-slide="0">
                            <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Heart of Goodwill</h3>
                            <a class="btn btn-lg btn-dark rounded-pill" href="#">
                                Shop now
                                <i class="fa-solid fa-chevron-right ms-2 me-n2"></i>
                            </a>
                        </div>
                        <div class="caption text-center" data-slide="1">
                            <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Katherine's Collection</h3>
                            <a class="btn btn-lg btn-dark rounded-pill" href="#">
                                Shop now
                                <i class="fa-solid fa-chevron-right ms-2 me-n2"></i>
                            </a>
                        </div>
                        <div class="caption text-center" data-slide="1">
                            <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Mark Roberts</h3>
                            <a class="btn btn-lg btn-dark rounded-pill" href="#">
                                Shop now
                                <i class="fa-solid fa-chevron-right ms-2 me-n2"></i>
                            </a>
                        </div>
                        <div class="caption text-center" data-slide="1">
                            <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Joy of Christmas</h3>
                            <a class="btn btn-lg btn-dark rounded-pill" href="#">
                                Shop now
                                <i class="fa-solid fa-chevron-right ms-2 me-n2"></i>
                            </a>
                        </div>
                        <div class="caption text-center" data-slide="1">
                            <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Fun of Halloween</h3>
                            <a class="btn btn-lg btn-dark rounded-pill" href="#">
                                Shop now
                                <i class="fa-solid fa-chevron-right ms-2 me-n2"></i>
                            </a>
                        </div>
                        <div class="caption text-center" data-slide="1">
                            <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Magic of Goodwill</h3>
                            <a class="btn btn-lg btn-dark rounded-pill" href="#">
                                Shop now
                                <i class="fa-solid fa-chevron-right ms-2 me-n2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const swiperEl = document.querySelector('swiper-container');

            swiperEl.addEventListener('swiperslidechange', function (event) {
                const swiper = event.target.swiper;
                const activeIndex = swiper.realIndex;
                document.querySelectorAll('.caption').forEach((caption, index) => {
                    caption.style.display = (index === activeIndex) ? 'block' : 'none';
                });
            });

            // Initially show the caption for the first slide
            document.querySelector('.caption[data-slide="0"]').style.display = 'block';
        });
    </script>
{% endblock %}