{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block project_content %}
{% include 'includes/shopping_cart_offcanvas.html' %}
<!-- Page content -->
<main class="content-wrapper">
    <!-- Hero slider -->
    <section class="d-flex align-items-center overflow-hidden my-4">
        <div class="container h-100 py-xxl-5 my-md-2 my-lg-3 my-xl-4 mb-xxl-5">
            <h1 id="home-h1-heading"
                class="display-6 d-none d-sm-block text-center mx-auto mb-1 mb-sm-2"
                style="max-width: 680px; color: #86714D; text-shadow: 1px 1px 2px rgba(128, 0, 0, 0.86)">Welcome to Carol's Whimsy Shop!</h1>
            <p class="lead text-center mx-auto mb-3 mb-sm-3 mb-md-3 mb-lg-3" style="max-width: 680px;">
                A wide selection of holiday decorations and gifts from the
                world's top designers. </p>
            <div class="mx-auto gx-3 gx-sm-4 mb-3 mb-sm-4">
                <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true"
                    centered-slides="true" slides-per-view="auto" coverflow-effect-rotate="30"
                    coverflow-effect-stretch="0" coverflow-effect-depth="100" coverflow-effect-modifier="1"
                    coverflow-effect-slide-shadows="true" loop="true">
                    <swiper-slide>
                        <img src="{{ MEDIA_URL }}gw_present24.jpg" alt="Heart by Goodwill slide" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="{{ MEDIA_URL }}kc_present24.jpg" alt="Katherine's collection slide" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="{{ MEDIA_URL }}hbg_24.jpg" alt="All products slide" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="{{ MEDIA_URL }}gw_aqua_botanica.jpg" alt="Jewels of the Sea slide" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="{{ MEDIA_URL }}kc_halloween.jpg" alt="Halloween fun slide" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="{{ MEDIA_URL }}mr_present24.jpg" alt="Mark Roberts slide" />
                    </swiper-slide>
                </swiper-container>

                <!-- Caption blocks -->
                <div id="captions">
                    <div class="caption text-center" data-slide="0">
                        <h3 class="text-secondary-emphasis fw-normal mb-3 h5">Heart by Goodwill</h3>
                        <a class="btn btn-lg btn-dark rounded-pill" href="{% url 'catalog' %}?brand_query=heart_by_gw">
                            Shop now
                            <i class="fa-solid fa-chevron-right ms-2"></i>
                        </a>
                    </div>
                    <div class="caption text-center" data-slide="1">
                        <h3 class="text-secondary-emphasis fw-normal mb-3 h5">Katherine's Collection</h3>
                        <a class="btn btn-lg btn-dark rounded-pill" href="{% url 'catalog' %}?brand_query=katherins">
                            Shop now
                            <i class="fa-solid fa-chevron-right ms-2"></i>
                        </a>
                    </div>
                    <div class="caption text-center" data-slide="1">
                        <h3 class="text-secondary-emphasis fw-normal mb-3 h5">All Products</h3>
                        <a class="btn btn-lg btn-dark rounded-pill" href="{% url 'catalog' %}">
                            Shop now
                            <i class="fa-solid fa-chevron-right ms-2"></i>
                        </a>
                    </div>
                    <div class="caption text-center" data-slide="1">
                        <h3 class="text-secondary-emphasis fw-normal mb-3 h5">Jewels of the Sea</h3>
                        <a class="btn btn-lg btn-dark rounded-pill" href="{% url 'catalog' %}?theme_query=jewels_sea">
                            Shop now
                            <i class="fa-solid fa-chevron-right ms-2"></i>
                        </a>
                    </div>
                    <div class="caption text-center" data-slide="1">
                        <h3 class="text-secondary-emphasis fw-normal mb-3 h5">Fun of Halloween</h3>
                        <a class="btn btn-lg btn-dark rounded-pill" href="{% url 'catalog' %}?theme_query=halloween">
                            Shop now
                            <i class="fa-solid fa-chevron-right ms-2"></i>
                        </a>
                    </div>
                    <div class="caption text-center" data-slide="1">
                        <h3 class="h5 text-secondary-emphasis fw-normal mb-3">Heart by Goodwill</h3>
                        <a class="btn btn-lg btn-dark rounded-pill" href="{% url 'catalog' %}?brand_query=m_roberts">
                            Shop now
                            <i class="fa-solid fa-chevron-right ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p class="text-center mx-auto" style="max-width: 680px;">From Christmas ornaments, balls and baubles, tree toppers, garlands, wreaths and trees, to  
                even more sophisticated seasonal decor for Halloween and Easter. Shop now and
                make your home merry and bright!</p>
        </div>
    </section>

</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- Swiper CDN for slide kaleidoscope -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<!-- Toggles captions to match swiper slides -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiperEl = document.querySelector('swiper-container');

        swiperEl.addEventListener('swiperslidechange', function (event) {
            const swiper = event.target.swiper;
            const activeIndex = swiper.realIndex;
            document.querySelectorAll('.caption').forEach((caption, index) => {
                caption.style.display = (index === activeIndex) ? 'block' : 'none';
            });
        });

        // Initially show the caption for the first slide
        document.querySelector('.caption[data-slide="0"]').style.display = 'block';
    });
</script>
{% endblock %}